*{
    padding: 0px;
    margin: 0px;
}

.nav-container{
    display: flex;
    padding: 25px;
    justify-content: space-around;
    background-color: #E8E8E8;
}

.items{
    display: flex;
    list-style: none;
}

.item{
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    margin-top: 10px;
    
}

.banner{
    width: 100%;
    height: 100vh;
    background-image:url(./asset/images/banner/banner1.png) ;
    align-items: right;
}

.banner-details{
    position: absolute;
    width: 100%;
    height: 228px;
    right: 50px;
    top: 216px;
}

.title-banner{
    padding-top: 130px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    align-items: right;
}

.paragraph-banner{
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    margin-bottom: 30px;
    text-align: right;

}

.btn-primary{
    color: #E8E8E8;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 15px 30px;
    height: 64px;
    background: #F15B22;
    border-radius: 5px;
    align-content: right;
    float: right;
}

/* Service Styles */

.service-container{
    margin-top: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: white;
}

.service-container li{

    list-style: none;
}

.service-left-container{
    margin-top: 80px;
    padding-left: 220px;
}


.service-right-container{
    padding-right: 200px;
    padding-left: 50px;
    margin-top: 120px;
}

.service-title-container{
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 10px;

}

.service-sub-container{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 20px;
}

/* my plans */

.plan{
    background-color: #FFFFFF;
    padding: 150px;
    text-align: center;
    padding-left: 80px;
}

.section-title{
    font-size: 50px;
    font-weight: bold;

}

.skills-container{
    display: flex;
    align-content: center;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 250px;

}

.skill{
    padding-left: 40px;
    padding-right: 40px;
}

.skill-title{
    padding-left: 10px;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
}

/* * Footer */

.footer-container{
    display: flex;
    width: 100%;
    height: 50vh;
    background-color: black;
}

.footer-details{
    color: white;
    font-weight: normal;
    font-size: 20px;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.main-container{
    font-size: 50px;
}

.title-container{
    padding-top: 0px;
}

.info-container{
    padding-top: 10px;
    padding-bottom: 10px;
}

.input-container{
    background-color: black;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10;
}

.form-container{
    padding-left: 250px;
    margin-top: 10px;
}

.btn-container{
    background: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
    color: #F15B22;
    border-radius: 10px;
    margin-left: 250px;
    margin-top: 40px;
    height: 60px;
    font-size: 25px;
}

.subs-title{
    color: white;
    padding-left: 250px;
    padding-top: 100px;
    font-size: 30px;
}

.bonus{
    margin: 200px 200px;
    height: 300px;
    background-image: url(asset/images/gradient2.png),url(asset/images/watch.png);
    background-repeat: no-repeat, no-repeat;
    background-position: left right,left right;
}

.bonus-title{
    color: white;
    font-weight: 700;
    font-size: 40px;
    width: 60%;
    padding-top: 65px;
    padding-bottom: 5px;
    padding-left: 30px;
    margin-bottom: 0;
}

.btn-second{
    width: 140px;
    height: 50px;
    background-color: white;
    color: #F15B22;;
    font-size: 20px;
    border-radius: 5px;
    border-style: none;
    margin-left: 30px;
}